vendor/
storage/*
!storage/.htaccess
!storage/.gitkeep

# Dependencies & Build Output
node_modules/
dist/

# Environment Secrets
.env
.env.local
server/.env

# Data & Storage
server/subscribers.csv
server/pending-reviews.json
server/storage/ratelimit/*.json

# Operating System & IDE
.DS_Store
.vscode/

#bat files
*.bat

#custom scripts
*.cjs
